<div class="flex items-center justify-center mx-auto my-auto">
    <div class="w-full max-w-xs">
        <div class="px-8 pt-6 pb-8 bg-white rounded shadow-md">
            <%= simple_form_for :search, url: "/search", method: :get do |f| %>
                <div class="mb-4">
                    <%= f.input :query, label: 'Search', required: true,
                    input_html: {
                        class: 'w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline',
                        placeholder: 'Enter text or hashtag',
                        value: @query || ''},
                    label_html: { class: 'block mb-2 text-sm font-bold text-gray-700' }%>
                </div>
                <div class="flex justify-between mb-4">
                    <div class="w-1/2 pr-2">
                        <%= f.input :type, label: 'Type', required: true,
                        collection: { 'Tag' => 'tag', 'Search' => 'search' },
                        prompt: "Choose a type", selected: @type || 'tag',
                        input_html: {
                            class: 'w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline text-center'},
                        label_html: {
                            class: 'block mb-2 text-sm font-bold text-gray-700 text-center'} %>
                    </div>
<div class="w-1/2 pl-2">
    <%= f.input :amount, as: :integer, label: 'Amount', required: false,
    input_html: {
        value: 10,
        class: 'w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline text-center'},
    label_html: {
        class: 'block mb-2 text-sm font-bold text-gray-700 text-center'} %>
</div>

                </div>
                <div class="mb-6">
                    <%= f.button :submit, 'Search',
                    class: 'w-full px-4 py-2 mb-4 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline' %>
                </div>
            <% end %>

            <% if @results %>
                <div class="flex flex-col mt-6">
                    <h3>Number of results: <%=@results.count%></h3>
                    <h2>Search Results:</h2>
                    <% @results.each do |result| %>
                        <div class="p-2 mb-2 border border-gray-200 rounded">
                            <%= result %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
