<div class="flex justify-center overflow-x-auto">
  <table class="w-full mb-4 bg-white rounded shadow-md text-md">
    <tbody>
      <tr class="border-b bg-slate-300">
        <th class="p-3 px-5 text-left">Title</th>
        <th class="p-3 px-5 text-left">Subtitle</th>
        <th class="p-3 px-5 text-left">Followers</th>
        <th class="p-3 px-5 text-left">Views On Video</th>
        <th class="p-3 px-5 text-left">Bio</th>
        <th class="p-3 px-5 text-left">Email</th>
        <th class="p-3 px-5 text-left">Social Networks</th>
      </tr>
      <% @users.each do |user| %>
        <tr class="bg-gray-100 border-b hover:bg-blue-100">
          <td class="p-3 px-5"><%= link_to user.title, user.tiktok_link, class: "text-blue-500 hover:text-blue-800" %></td>
          <td class="p-3 px-5 max-w-[230px] overflow-auto whitespace-normal"><%= user.subtitle %></td>
          <td class="p-3 px-5"><%= user.followers %></td>
          <td class="p-3 px-5"><%= user.views_on_video %></td>
          <td class="p-3 px-5 max-w-[320px] overflow-auto whitespace-normal"><%= user.bio %></td>
          <td class="p-3 px-5"><%= user.email %></td>
          <td class="p-3 px-5">
            <% user.user_socials.each do |user_social| %>
              <p>
                <%= link_to user_social.social_network.name, user_social.url, class: "text-blue-500 hover:text-blue-800" %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
