<!DOCTYPE html>
<html>
  <head>
    <title>TikTokParser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
  <nav class="bg-gray-600">
    <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        </div>
        <div class="flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <div class="px-3 py-2 text-sm font-medium text-white rounded-md">
                <%= link_to 'Home', root_path, class: 'hover:text-gray-300' %>
              </div>
              <div class="px-3 py-2 text-sm font-medium text-white rounded-md">
                <%= link_to 'Users', users_path, class: 'hover:text-gray-300' %>
              </div>
              <div class="px-3 py-2 text-sm font-medium text-white rounded-md">
                <%= link_to 'Social Networks', social_networks_path, class: 'hover:text-gray-300' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

    <main class="container flex mx-auto mt-4">
      <%= yield %>
    </main>
  </body>
</html>
